<ion-header>
  <div>
    <!-- <ion-button class="detailBackButton">
      <ion-back-button defaultHref="/places/tabs/discover"></ion-back-button>

    </ion-button> -->

    <ion-button routerLink="/places/tabs/discover" class="detailBackButton">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-button>

    <ion-slides pager="true">
      <ion-slide>
        <ion-img [src]="place.imageUrl"></ion-img>
      </ion-slide>

      <ion-slide>
        <ion-img [src]="place.imageUrl"></ion-img>
      </ion-slide>

      <ion-slide>
        <ion-img [src]="place.imageUrl"></ion-img>
      </ion-slide>
      <ion-slide>
        <ion-img [src]="place.imageUrl"></ion-img>
      </ion-slide>
    </ion-slides>

    <!-- <ion-img [src]="place.imageUrl"></ion-img> -->

    <ion-button class="detailOptionButton">
      <ion-icon name="ellipsis-vertical"></ion-icon>
    </ion-button>
  </div>
</ion-header>

<ion-content class="ion-padding">
  <ion-row>
    <ion-col size="9">
      <h3>{{place.title}}</h3>
    </ion-col>
    <ion-col class="ion-align-self-center ion-text-right">
      <ion-button (click) = 'toggleLiked()' fill="clear" class="icon-only">
        <ion-icon
          size="large"
          color="danger"
          [name]="!like ? 'heart' : 'heart-outline' "
        ></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-icon name="location-outline" color="primary"></ion-icon>
      <ion-label style="color: #808289"> {{place.location}} </ion-label>
      <h5><strong>Description</strong></h5>
      <ion-text> {{place.description}} </ion-text>
      <p><strong>Property Type: </strong> {{place.type}}</p>

      <p><strong>Number of Rooms: </strong> {{place.rooms}}</p>

      <p><strong>Added on: </strong> {{place.date | date}}</p>

      <p><strong>Agent: </strong> {{place.userId}}</p>
    </ion-col>
  </ion-row>

  <ion-button color="primary" margin (click)="onBookPlace()">
    Contact Agent
  </ion-button>
</ion-content>
